<p><u>Blue Team:</u> ELK & Splunk SIEM, Portmaster Firewalls, Malware Analysis &amp; Triaging, Log Analysis, Defense In Depth </p>
<p><u>Red Team:</u> Metasploit, Nmap, Burp Suite, Wireshark, OWASP ZAP, SQLMap, MobSF, Hydra, John The Ripper, Aircrack-ng </p>
<p><u>Network and Infrastructure:</u> Cisco Packet Tracer, Wireshark, XAMMP Stack, Subnetting and P-Cap Analysis</p>
<p><u>Frameworks:</u> NIST CSF, NIST RMF, MITRE ATT&amp;CK </p>
<p><u>Operating Systems:</u> Kali Linux, Ubuntu, Parrot OS, Windows 10/11, Windows Server, Command Line Interface, Permission and Access Management, System Hardening</p>
<p><u>Languages:</u> Python, Java, C, C++, Javascript, Lua, Bash, HTML, CSS, Flask </p>
<p><u>Tools:</u> Git, GitHub, Docker, VirtualBox, VMware, Snort, Nessus, OpenVAS, Nikto, Metasploitable </p>
<p><u>Cloud:</u> AWS, Azure, Google Cloud Platform </p>